body,html {
    margin: 0;
    padding: 0;
    /* padding-top: 20px; */
    font-family: 'League Spartan', sans-serif;
    color: white;
    overflow: auto; /* Hide scrollbars */
  
  }  


  #main-content {
    overflow: auto; /* Restore scrollbars for the main content */
    position: relative;  /* Ensures content remains above the video */
    z-index: 1;  /* This isn't always necessary but helps ensure the content is on top */
  }

  #video-background1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    z-index: -1;  /* Updated to a smaller negative value */
    pointer-events: none;
    background-color: black;  /* Fallback color in case the video fails to load */
}

h1 {
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

legend {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

label.selected {
    background-color: #d3f3d3;
    border-radius: 5px;
    padding: 2px 5px;
}
