/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.login-container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }

  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    /* background-color: #d70202; */
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
    
}


#footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    z-index: 1;
    position: relative;
}

