* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html, body {

    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    /* padding-top: 20px; */
    background-color: black;
    color: white;
    overflow: hidden; /* Hide scrollbars */
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: aliceblue;
    overflow: hidden; 
} */

#footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    z-index: 1;
    position: relative;
}
#main-content {
    overflow: auto; /* Restore scrollbars for the main content */
  }

  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }

  .navbar-brand > .material-icons-outlined {
    font-size: 40px;
  }
  

.navbar.navbar-light .navbar-nav .nav-link {
    color: white;
    opacity: 70;
  }

  /* CSS for hover effect on larger screens */
@media (min-width: 100px) {
    .navbar-nav .nav-item .nav-link {
      transition: color 0.3s ease; /* Smooth transition for color change */
    }
  
  .navbar.navbar-light .navbar-nav .nav-link:hover   {
    color: #b90e0e; /* Change color on hover */
  
  }}


  .container {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
