* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html, body {

    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    /* padding-top: 20px; */
    font-family: 'League Spartan', sans-serif;
    background-color: black;
    color: white;
    overflow: hidden; /* Hide scrollbars */
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: aliceblue;
    overflow: hidden; 
} */

#footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    z-index: 1;
    position: relative;
}
#main-content {
    overflow: auto; /* Restore scrollbars for the main content */
  }

  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }

  .navbar-brand > .material-icons-outlined {
    font-size: 40px;
  }
  

.navbar.navbar-light .navbar-nav .nav-link {
    color: white;
    opacity: 70;
  }

  /* CSS for hover effect on larger screens */
@media (min-width: 100px) {
    .navbar-nav .nav-item .nav-link {
      transition: color 0.3s ease; /* Smooth transition for color change */
    }
  
  .navbar.navbar-light .navbar-nav .nav-link:hover   {
    color: #b90e0e; /* Change color on hover */
  
  }}


.scores-container {
    background-color: rgb(255, 255, 255);
    color: black;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

.scores-container h2 {
    text-align: center;
}

#user-scores-table {
    border-collapse: collapse;
}

#user-scores-table th, #user-scores-table td {
    text-align: center;
}


.question-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

.question-container h1 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
}


.answer {
    margin-top: 15px;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
}

label {
    color: black;

}

/* admin3.html */

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #822b2b;
}

.response-message {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}